<div class="row">
	<header>
		<section class="encabezado">

			<img src="img\header.jpeg">
			<center>
				<h2>SCRUMIZATE</h2>
			</center>
		</section>
	</header>
</div>
<div class="container" ng-controller="RegistrarController as ctrl">
	<section class="regresar">
			<input type="image"  ng-click="ctrl.regresar()" 
					src="img\regresar.png" width="100" height="100">
	</section>
	<div class="encabezado">
		<center>
			<h1 style="color: rgb(14, 12, 12);">Crear usuario</h1>
		</center>
	</div>
	<form>
		<b>
			<div class="form-group">
				<label>Cedula</label>
				<input type="text" class="form-control" placeholder="x-xxx-xxx" ng-model="ctrl.cedula">
			</div>
			<div class="form-group">
				<label>Usuario</label>
				<input type="text" class="form-control" placeholder="Juan" ng-model="ctrl.usuario">
			</div>
			<div class="form-group">
				<label>Contraseña</label>
				<input type="text" class="form-control" placeholder="Perez" ng-model="ctrl.contrasena">
			</div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-center">
				<button class="btn btn-dark" ng-click="ctrl.crearUsuario()">Crear usuario</button>
			</div>
		</b>
	</form>
	<br>
	<br>
</div>