<div class="row">
	<header>
		<section class="encabezado">
	
			<img src="img\header.jpeg">
			<center>
				<h2>SCRUMIZATE</h2>
			</center>
		</section>
	</header>
</div>
<div class="container" ng-controller="RankingController as ctrl">
	<div class="encabezado">
		<section class="Rankregresar">
			<input type="image" src="img\regresar.png" width="100" height="100" ng-click="ctrl.regresar()">
		</section>
		<center>
		<h1 style="color: rgb(14, 12, 12);">RANKING</h1>
	</center>
	</div>
	<div class="row mover-tabla">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Posicion</th>
					<th>Nombre</th>
					<th>Cedula</th>
					<th>Puntaje</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in ctrl.listaRanking track by $index">
					<td>{{$index + 1}}</td>
					<td>{{x.username}}</td>
					<td>{{x.ID_usuario}}</td>
					<td>{{x.score}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>